
<header>
	<div class="overlay d-none"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source  src="https://raw.githubusercontent.com/LewisJohnson/WKBREED-Serverless/master/WKBREED/src/assets/videos/UpInTheRoom.mp4" type="video/mp4">
	</video>
	<div class="container h-100">
		<div class="d-flex h-100 text-center align-items-center">
			<div class="w-100 text-white">
				<h1 id="team-member-header" class="display-3">&nbsp;</h1>
			</div>
		</div>
	</div>
</header>

<section class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<app-fetch-tour-dates></app-fetch-tour-dates>
			</div>

			<div class="col-12 col-lg-6">
				<app-spotify></app-spotify>
			</div>
		</div>
	</div>
</section>

<!-- <section class="mt-5">
	<div class="container">
		<app-team></app-team>
	</div>
</section> -->

<section class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>ABOUT</h3>
				<p>
					Well Known Breed, a South London collective specialising in Rap, Hip/hop and grime whilst making strides within RnB and Afrobeat.
					Each artist Has major skills that they work to improve upon endlessly living by the motto "Success is a must, Failures not an option”.
					With dedicated ambition they climb closer to their goals and have yielded great results with every project.
					Elevating and building a legacy as WKBREED , artists: Smooth Pekz, Unorthodox Kings and Robyn Cho are not the ones to sleep on.
					Get Ready For The Next Move, Because They're Coming!!!
				</p>
			</div>
		</div>
	</div>
</section>
