<header>
	<nav class="navbar navbar-dark navbar-expand">
		<div class="container">
			<a class="navbar-brand" [routerLink]='["/"]'>WK BREED</a>
			<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
				<ul class="navbar-nav flex-grow">
					<li class="nav-item">
						<a class="nav-link text-white font-weight-bold" href="https://open.spotify.com/artist/53jhMlw9wuljewswYqG6ek" target="_blank" rel="noopener">SPOTIFY</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-white font-weight-bold" href="https://itunes.apple.com/us/artist/wkbreed/1449126273" target="_blank" rel="noopener">APPLE MUSIC</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-white font-weight-bold" href="#">|</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-white" href="https://www.instagram.com/wkbreed/" target="_blank" rel="noopener">INSTAGRAM</a>
					</li>

					<li class="nav-item">
						<a class="nav-link text-white" href="https://twitter.com/WKBREED" target="_blank" rel="noopener">TWITTER</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
