<section class="nav-menu-container d-none d-md-block">
	<div class="container px-0">
		<div class="d-flex flex-column flex-md-row align-items-center py-3">
			<h5 class="my-0 mr-md-auto text-white">WK BREED</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 font-weight-bold" href="https://open.spotify.com/artist/53jhMlw9wuljewswYqG6ek" target="_blank" rel="noopener">SPOTIFY</a>
				<a class="p-2 font-weight-bold" href="https://itunes.apple.com/us/artist/wkbreed/1449126273" target="_blank" rel="noopener">APPLE MUSIC</a>
				<a class="p-2" href="#">/</a>
				<a class="p-2" href="https://www.instagram.com/wkbreed/" target="_blank" rel="noopener">INSTAGRAM</a>
				<a class="pl-1 pt-2 pb-2" href="https://twitter.com/WKBREED" target="_blank" rel="noopener">TWITTER</a>
			</nav>
		</div>
	</div>
</section>

<section class="nav-menu-container d-block d-md-none">
	<div class="container px-0">
		<div class="d-flex flex-column flex-md-row align-items-center py-3">
			<h5 class="mr-md-auto text-white">WK BREED</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="ml-0 d-inline-block overflow-hidden icon-spotify" href="https://open.spotify.com/artist/53jhMlw9wuljewswYqG6ek"></a>
				<a class="ml-4 d-inline-block overflow-hidden icon-apple" href="https://geo.itunes.apple.com/gb/artist/wkbreed/1449126273?mt=1&app=music&ls=1"></a>
				<a class="ml-4 d-inline-block overflow-hidden icon-instgram" href="https://www.instagram.com/wkbreed/"></a>
				<a class="ml-4 d-inline-block overflow-hidden icon-twitter" href="https://twitter.com/WKBREED"></a>
			</nav>
		</div>
	</div>
</section>


