.nav-menu-container {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9;
	width: 100%;
}

a {
	color: white;
	transition: 0.15s ease-in-out;

	&:hover {
		color: #dc3545;
		text-decoration: none;
	}
}

.social-icon {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.icon-spotify {
	@extend .social-icon;
	background-image: url('https://raw.githubusercontent.com/LewisJohnson/WKBREED-Serverless/master/WKBREED/src/assets/images/spotify_logo.svg');
}

.icon-apple {
	@extend .social-icon;
	background-image: url('https://tools.applemusic.com/embed/v1/app-icon.svg?hex=FFFFFF');
}

.icon-instgram {
	@extend .social-icon;
	background-image: url('https://raw.githubusercontent.com/LewisJohnson/WKBREED-Serverless/master/WKBREED/src/assets/images/instagram_logo.svg');
}

.icon-twitter {
	@extend .social-icon;
	background-image: url('https://raw.githubusercontent.com/LewisJohnson/WKBREED-Serverless/master/WKBREED/src/assets/images/twitter_logo.svg');
}
